@gray: #cacccf;
@blue: #2a5c8d;
@light-blue: #a0c5dd;
@white: #ffffff;

.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
}

.users {
  width: 80%;
  margin-bottom: 1rem;
}

.users-header {
  font-size: 1.8rem;
}

.buttons {
  display: flex;
  margin-top: 1rem;
}

.user-details {
  display: flex;
  justify-content: flex-start;
}

.ant-descriptions-item-label {
  display: flex;
  width: 2rem;
}
.detail {
  margin-left: 2rem;
}

// Add User Modal
.user-form {
  margin-left: 2rem;
}

.add-user-btn {
  background: @blue !important;
  color: @white !important;
  &:visited {
    background: @blue;
    color: @white;
  }
  &:focus {
    background: @blue;
    color: @white;
  }
}

.radio {
  display: flex;
}

// Pending Users
.pending-users-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  margin-top: 1.5rem;
}
