.dataHubContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 13rem;
  margin-top: 1rem;

  .homeDisclaimer {
    align-self: center;
    padding: 0.55rem;
    margin: 1rem 3rem 1.5rem 3rem;
    border: 0.1rem solid #cacccf;
    color: #939292;
  }

  .h1Styles {
    align-self: center;
    margin: auto;
    border-bottom: 1px solid #ff7f0e;
  }

  h2 {
    padding: 0rem 9rem 1rem 9rem;
  }
}

.mainChartContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.subChartsContainer {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

