.dataHubContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15rem;
  margin-top: 1rem;

  .homeDisclaimer {
    align-self: center;
    padding: 0.55rem;
    border: 0.1rem solid #cacccf;
    color: #939292;
  }

  .h1Styles {
    align-self: center;
    padding-top: 2%;
  }

  h2 {
    padding: 0rem 9rem 1rem 9rem;
  }
  
}
.title-divider {
  border-top: 1px solid #ff7f0e;
  width: 75%;
  margin: auto;
  }
.mainChartContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.subChartsContainer {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

