.dataHubContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        margin: 0 auto;
        font-size: 1.8rem;
        font-weight: bold;
    }
}

.mainChartContainer {
    display: flex;
    justify-content: center;
}

.subChartsContainer {
    display: flex;
    justify-content: space-evenly;
}