
@blue: #2a5c8d;

.cases-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80%;
  margin-left: 10rem;
}
/* Chart Container Adjustments */

.viz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  overflow-y: hidden;
  margin-left: 10rem;
}

.case-table-container {
  width: 100%;
  overflow-y: hidden;
  margin: 0 0 2rem 10rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.save-cases-btn {
  border: none;
  box-shadow: none;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.ant-tabs {
  overflow: unset;
}

.ant-tabs-tab {
  font-size: 1.2rem;
  &.ant-tabs-tab-active .ant-tabs-tab-btn {
    text-shadow: none;
  }
}

.ant-table-tbody tr td {
  padding: 0.5rem 1rem;
  text-align: left;
}

.ant-table-column-sorters {
  padding: 0.5rem 1rem;
  align-items: flex-start;
}

.anticon-file-text,
.anticon-file-pdf {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

button.ant-btn {
  color: @blue;
  font-size: 1rem;
  border: none;
  display: flex;
  justify-content:center;
  align-items:center;
  box-shadow:none;
  margin:0.5rem 0.5rem 0 0;
}

button.ant-btn:hover {
  color: @blue;
  font-size: 1rem;
  border:none;
  display: flex;
  justify-content:center;
  align-items:center;
  box-shadow:none;
  margin:0.5rem 0.5rem 0 0;
}
  
  
