// .tabs {
//   width: 30%;
// }

// .close {
//   text-align: right;
//   padding: 1%;
//   margin: auto 2% auto auto;
//   transform: scale(1.2);
// }

// .close:hover {
//   cursor: pointer;
//   transform: scale(1.4);
// }

// .pdfView {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: 500px;
// }

.cases-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80%;
  margin-left: 10rem;
}
/* Chart Container Adjustments */

.viz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  overflow-y: hidden;
  margin-left: 10rem;
}

.case-table-container {
  width: 100%;
  overflow-y: hidden;
  margin: 0 0 2rem 10rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.save-cases-btn {
  border: none;
  box-shadow: none;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.ant-tabs {
  overflow: unset;
}

.ant-tabs-nav {
}
// .user-select-none .svg-container {
//   width: 40vw;
// }

// .caseTableLink {
//   color: #3582cf;
// }

// .caseTableCard {
//   display: flex;
// }

// .caseTableContainer {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-content: center;
//   width: 90%;
//   margin-left: -3rem;
//   margin: 0;
// }

//   .caseTable {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width: 100%;
//     min-height: 90vh;
//     height: 100%;
//     margin: -2rem 4rem 4rem 4rem;
//     box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
//     border: none !important;
//   }
// }

/* caseTable drawer styles */

// .caseTableDrawer {
//   width: 300;
//   margin-top: 18%;
//   margin-bottom: 15%;
//   display: flex;
//   flex-flow: column wrap;

//   .caseTableSearchInput {
//     margin: 5% 10% 10% 5%;
//   }
// }

/* caseTable Toolbar */

// .menuContainer {
//   color: #215589;
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: baseline;
//   background-color: #ffffff;
//   margin: 0 0 1rem 0;
//   padding: 0;

// .buttonContainer {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
//   align-items: center;
//   align-content: flex-end;
//   width: 50%;
//   margin-right: 2%;
//   margin-top: 0.5rem;
// }

//   .buttonContainer:hover {
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-end;
//     align-items: center;
//     align-content: flex-end;
//     width: 50%;
//     margin-right: 2%;
//     margin-top: 0.5rem;
//   }
// }

// button.ant-btn {
//   color: #215589;
//   font-size: 1rem;
//   border: none;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   box-shadow: none;
//   margin-right: 0.5rem;
//   margin-top: 0.5rem;
// }

// button.ant-btn:hover {
//   color: #215589;
//   font-size: 1rem;
//   border: none;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   box-shadow: none;
//   margin-right: 0.5rem;
//   margin-top: 0.5rem;
// }

/* ant design fixes */

// h2.ant-typography {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-start;
//   align-items: center;
//   width: 50%;
//   /* margin: 1rem 0 1rem 0; */
//   padding-left: 2%;
//   padding-bottom: 0;
// }

// li.ant-dropdown-menu-item {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   font-size: 1rem;
//   color: #215589;
//   margin: 1rem;
//   padding: 0.5rem;
// }

// li.ant-dropdown-menu-item:hover {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   font-size: 1rem;
//   color: #215589;
//   margin: 1rem;
//   padding: 0.5rem;
// }

// button.ant-btn.columnsBtn {
//   padding: 0;
//   margin: 0;
// }

// button.ant-btn.columnsBtn:hover {
//   padding: 0;
//   margin: 0;
// }

// .newTable {
//   display: flex;
//   width: 100%;
//   height: 50vh;
// }
