@background-image: '../../../styles/blueStatueOfLiberty.png';
@font: 'Lato', sans-serif;
@font-color: #262626;
@button: #bd5a27;
@blue: #2a5c8d;
@white: #ffffff;

.login-container {
  width: 100%;
  display: flex;
  background-image: url('../../../styles/blueStatueOfLiberty.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.login-form {
  display: flex;
  width: 85vw;
  margin-left: 35rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 600px) {
    width: 100%;
  }

  .logo {
    max-width: 70rem;
    max-height: 3.6rem;
    margin-bottom: 1rem;
  }

  .login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .link-styles {
      font-family: @font;
      color: @blue;
    }
  }

  #sign-in-widget {
    display: flex;
    align-items: center;
    font-family: @font;
    

    #okta-sign-in {
      border-radius: 0.3rem;
    }

    #okta-sign-in.auth-container.main-container {
      font-family: 'Lato' sans-serif;
      margin: 0;
      border: none;
      box-shadow: none;
      color: @font-color;

      label {
        font-family: 'Lato', sans-serif;
        color: @font-color;
        padding-bottom: 1rem;
      }
      .button-primary {
        background: @button;
        height: 2.6rem;
        width: 20rem;
      }
      .okta-form-input-field input {
        font-family: @font;
      }
      h2 {
        color: @font-color;
      }
      .custom-checkbox {
        margin-top: -1rem;
        padding-bottom: 1rem;
        box-shadow: none;
      }

      .js-help {
        box-shadow: none;
      }
    }

    .o-form {
      width: 100%;
      .o-form-head {
        font-size: 1.4rem;
        font-family: @font;
        margin-top: 0;
      }
      .o-form-input-name-username {
        border-radius: 0.1rem;
        height: 2.6rem;
        width: 20rem;
      }
      .o-form-input-name-password {
        border-radius: 0.1rem;
        height: 2.6rem;
        width: 20rem;
      }
      .o-form-label {
        padding-top: 1rem;
      }
      .o-form-theme {
        padding: 0;
      }
    }

    .auth-header {
      display: none;

      .auth-org-logo {
        display: none;
      }

      .auth-footer {
        border-bottom: none;
        font-family: @font;
      }
    }

    .button-primary {
      background: @button;
      border: none !important;
      border-radius: 0.1rem !important;
      &:hover {
        background-color: @white !important;
        border: 0.1rem solid @button !important;
        color: @button;
        border-radius: 0.1rem;
      }
      &::selection {
        background: @button;
      }
    }
  }
}
