.root {
  width: 100%;
  display: flex;
}
.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form .logo {
  max-width: 450px;
  max-height: 65px;
  margin-bottom: 2rem;
}
.form .background-image {
  background-image: url('../../../styles/statueOfLiberty.jpg');
  width: 600px;
  min-height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
}
@media (max-width: 600px) {
  .form .background-image {
    width: 0;
  }
}
.form .login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.form .login-page .link-styles {
  font-family: 'Lato', sans-serif;
  color: #2a5c8d;
}
.form #sign-in-widget {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}
.form #sign-in-widget #okta-sign-in {
  border-radius: 1px;
}
.form #sign-in-widget #okta-sign-in.auth-container.main-container {
  font-family: 'Lato' sans-serif;
  margin: 0;
  border: none;
  box-shadow: none;
  color: #262626;
}
.form #sign-in-widget #okta-sign-in.auth-container.main-container label {
  font-family: 'Lato', sans-serif;
  color: #262626;
  padding-bottom: 1rem;
}
.form #sign-in-widget #okta-sign-in.auth-container.main-container .button-primary {
  background: #bd5a27;
}
.form #sign-in-widget #okta-sign-in.auth-container.main-container .okta-form-input-field input {
  font-family: 'Lato', sans-serif;
}
.form #sign-in-widget #okta-sign-in.auth-container.main-container h2 {
  color: #262626;
}
.form #sign-in-widget .o-form .o-form-head {
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  margin-top: 0;
}
.form #sign-in-widget .o-form .o-form-input-name-username {
  border-radius: 1px;
}
.form #sign-in-widget .o-form .o-form-input-name-password {
  border-radius: 1px;
}
.form #sign-in-widget .o-form .o-form-label {
  padding-top: 1rem;
}
.form #sign-in-widget .auth-header {
  display: none;
}
.form #sign-in-widget .auth-header .auth-org-logo {
  border: red 1px solid;
  display: none;
}
.form #sign-in-widget .auth-header .auth-footer {
  border-bottom: none;
  font-family: 'Lato', sans-serif;
}
.form #sign-in-widget .button-primary {
  background: #bd5a27;
  border: none;
  border-radius: 1px;
}
.form #sign-in-widget .button-primary:hover {
  background: #ffffff;
  border: 1px solid #bd5a27;
  color: #bd5a27;
}
.form #sign-in-widget .button-primary::selection {
  background: #bd5a27;
}
