@background-image: '../../../styles/statueOfLiberty.jpg';
@button: #bd5a27;

.root {
  width: 100%;
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  @media (max-width: 600px) {
    width: 70%;
  }
}
.logo {
  max-width: 350px;
  max-height: 65px;
}

.background-image {
  background-image: url(@background-image);
  width: 600px;
  min-height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  @media (max-width: 600px) {
    width: 0;
  }
}

.ant-form {
  width: 50%;
  margin-top: 3rem;
  @media (max-width: 600px) {
    width: 80%;
  }
}

.ant-input {
  border-radius: 1px;
  line-height: 22px;
  padding: 6px 8px;
}

.link-back {
  display: flex;
  padding-top: 0.5rem;
  p {
    padding-right: 0.5rem;
  }
  .link {
    color: #2a5c8d;
  }
}

.h2styles {
  font-size: 1.8rem;
}

button.buttonStyles {
  color: #ffffff;
  background-color: @button;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  padding: 1.5rem;
  &:hover {
    background-color: #ffffff;
    color: @button;
    border: 1px solid @button;
    border-radius: 1px;
  }
}
