@background-image: '../../../styles/blueStatueOfLiberty.png';
@button: #bd5a27;
@white: #ffffff;
@font-color: #262626;
@font: 'Lato', sans-serif;

.signup-root {
  width: 100%;
  display: flex;
  background-image: url('../../../styles/blueStatueOfLiberty.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.signup-form {
  display: flex;
  width: 20vw;
  margin-left: 20rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 600px) {
    width: 100%;
  }
}

.logo {
    max-width: 70rem;
    max-height: 3.6rem;
    margin-bottom: 1rem;
}

.background-image-signup {
  width: 50vw; 
  min-height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 600px) {
    width: 0;
  }
}

.ant-form {
  width: 50%;
  margin-top: 1.5rem;
  @media (max-width: 600px) {
    width: 80%;
  }
}

.ant-input {
  border-radius: 0.1rem;
  line-height: 2rem;
  margin-top: -0.2rem;

  
}

.link-back {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  font-size: 1rem;
  p {
    padding-right: 0.5rem;
  }
  .link {
    color: #2a5c8d;
  }
}

.h2-signup {
  font-size: 1.4rem;
  margin-top: 1.8rem;
  font-weight: bold;
}

.request-btn {
  color: @white !important;
  background-color: @button;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.1rem;
  padding: 1.5rem;
  width: 100%;
  &:hover {
    background-color: @white !important;
    color: @button !important;
    border: 0.1rem solid @button !important;
    border-radius: 0.1rem;
  }
  &:active {
    color: @white;
    background-color: @button;
  }
  &:focus {
    color: @white;
    background-color: @button;
  }
}

.submit-button{
  margin-top: -0.5rem;
  width: 102%;
}

  .signUP-form label {
    font-family:@font;
    color: @font-color;
    font-weight: bold;
    font-size: 0.9rem;
  }
