.savedJudgesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: 2rem 0 0 10rem;

}

.savedJudges {
  width: 80%;
  margin-bottom: 1rem;
}

.saved-judges-header{
  font-size: 1.8rem;
}
