.savedJudgesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin-left: 15rem;
  margin-right: 3rem;
}

.saved-judges-header{
  display: flex;
  justify-content: center;
  padding: 2%;
  margin: 5%;
  border-bottom: 1px solid #ff7f0e;
}

.savedJudges {
  width: 80%;
  margin-bottom: 1rem;
}

.saved-judges-header {
  font-size: 1.8rem;
  margin-top: 2rem;
}
