@gray: #cacccf;
@blue: #2a5c8d;
@light-blue: #a0c5dd;
@white: #ffffff;

.manage-cases-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin-left: 12rem;
  margin-top: 2rem;
}

.manage-cases {
  width: 90%;
}

.manage-cases-title {
  font-size: 1.8rem;
}

#acceptCaseButton {
  color: #ffffff;
  background-color: #215589;
  padding: 10% 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

#rejectCaseButton {
  color: #ffffff;
  background-color: #215589;
  padding: 10% 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
