.manageCasesContainer {
    position: absolute;
    width: 75%;
    height: 500px;
    top: 78px;
    left: 265px;
}

#acceptCaseButton {
    color: #ffffff;
    background-color:#215589;
    padding: 10% 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#rejectCaseButton {
    color: #ffffff;
    background-color:#215589;
    padding: 10% 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.manageCasesTitle {
    color: #215589 !important;
    text-align: center;
    margin-top: 2%;
}
