@gray: #cacccf;
@blue: #2a5c8d;
@light-blue: #a0c5dd;

// leaving in just in case we need it for styling

// .root {
//   & .MuiTextField-root {
//     // margin: theme.spacing(2);
//     width: '30rem';
//     text-align: 'center';
//   }
// }

.uploadPage {
  display: flex;
  padding: 1%;
  margin: 0 auto;
  width: 100%;
  justify-content: flex-end;
  margin-left: -4rem;
}

.pdf-container {
  display: flex;
  margin: 1rem;
  flex-direction: column;
}

.h1Styles {
  font-size: 2rem;
}

.h2Styles {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

button.upload-btn {
  color: #ffffff;
  background-color: #215589 !important;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3rem;
  &:hover {
    color: @light-blue;
  }
}

.footer-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.not-now-btn {
  background: @gray;
  color: white !important;
  padding: 1rem;
  &:hover {
    background-color: @light-blue;
  }
}

.review-btn {
  background: @blue;
  color: white !important;
  padding: 1rem;
  &:hover {
    background-color: @light-blue;
  }
}

.divider {
  margin-bottom: 1.5rem;
}
