
/* savedJudge styles */

.close {
  text-align: center;
  padding: 1%;
  margin: auto 2% auto auto;
  transform: scale(1.2);
}

.close:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.savedCasesLink {
  color: #215589;
}

.savedCasesCard {
  display: flex;
}

.savedCasesTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
  height: 100%;
  margin: 8rem 4rem 4rem 0;
}

.savedCasesGridContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;
}

.savedCasesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

/* savedJudge drawer styles */

.savedCasesDrawer {
  width: 300;
  margin-top: 18%;
  margin-bottom: 15%;
  display: flex;
  flex-flow: column wrap;
}

.savedCasesDrawer p {
  margin-left: 5%;
  margin-top: 3%;
}

.savedCasesSearchInput {
  margin: 5% 10% 10% 5%;
}

/* savedJudge Toolbar styles */

.savedCasesMenuContainer {
  color: #215589;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.savedCasesMenubuttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
  width: 50%;
  margin-right: 2%;
}

.savedCasesMenubuttonContainer:hover {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
  width: 50%;
}
