    .supportRoot {
      margin-top: 10%;
      width: 100%;
      display: flex;
      justify-Content: space-around;
    }

    .form {
        width: 40%;
    }

    .faq {
      width: 40%;
    }

    /* .textField {
      margin-top: 5.5vh;
      margin-left: -18vh;
      width: 100%;
      text-align: start;
    } */

    /* #formBtn {
      color: #ffffff;
      background-Color: #215589;
      border: 1px solid  #215589;
      align-Items: center;
      justify-Content: center;
      transition: 0.3s;
    }

    #formBtn:hover {
      color:white;
      border: 1px solid darkgray;
      background-color: lightgray;
      transition: 0.3s;
    } */

    .textField {
      width: 100%;
      margin: 1% auto;
    }

    #buttonStyles {
      color: #ffffff;
      background-color: #215589;
      margin-top: 3%;
      display: flex;
      align-items: center;
      justify-content: center;
    }