.myCaseTableContainer {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-left: 12rem;
  .myCaseTableGridContainer {
    width: 98%;
    margin-left: -3rem;
    margin-top: 3rem;
  }
  .myCaseTable {
    display: flex;
    width: 100%;
    min-height: 90vh;
    height: 100%;
    margin: -2rem 4rem 4rem 4rem;
    .MuiDataGrid-row {
      background-color: aliceblue;
    }
    .MuiDataGrid-cell {
      justify-content: center;
      align-content: center;
      text-align: center;
    }
  }
}
