/* accountPage styles */

div.ant-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.accountCard {
    width: 500px;
}

.ant-card-head-title {
    font-size: 2rem;
}

.accountRoot {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.buttonStyles {
    color: #ffffff;
    background-color: #215589;
    border-radius: 6px;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button.buttonStyles:hover {
    color: #215589;
    background-color: lightgray;
    border-radius: 6px;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.accountRoot p {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.avatar {
    margin-bottom: 1rem;
}