@save-icon: '../../../styles/icons/save.svg';
@save-blue: '../../../styles/icons/save-blue.svg';
@tool-icon: '../../../styles/icons/tool.svg';
@tool-blue: '../../../styles/icons/tool-blue.svg';
@case-icon: '../../../styles/icons/case.svg';
@case-blue: '../../../styles/icons/case-blue.svg';
@judge-icon: '../../../styles/icons/gavel.svg';
@judge-blue: '../../../styles/icons/gavel-blue.svg';
@my-cases-icon: '../../../styles/icons/my-cases.svg';
@my-cases-blue: '../../../styles/icons/my-cases-blue.svg';
@review-cases-icon: '../../../styles/icons/review-case.svg';
@review-cases-blue: '../../../styles/icons/review-cases-blue.svg';
@home-icon: '../../../styles/icons/home.svg';
@home-blue: '../../../styles/icons/home-blue.svg';

@selected-color: #2a5c8d;
@gray: #939292;
@light-gray: #cacccf;
@light-blue: #a0c5dd;
@white: #ffffff;
@orange:  #fc7402;

.ant-menu
.ant-menu-light
.ant-menu-inline-collapsed
.ant-menu--root
.ant-menu-vertical {
  min-height: 100vh !important;
}

.saved-submenu {
  background: url(@save-icon) no-repeat left 26px top 10px !important;

  &:hover {
    background: url(@save-blue) no-repeat left 26px top 10px !important;
    background-color: @white !important;
  }
}

.admin-tools-submenu {
  background: url(@tool-icon) no-repeat left 20px top 10px !important;
  
  &:hover {
    background: url(@tool-blue) no-repeat left 20px top 10px !important;
    background-color: @white !important;
  }
}

.home {
  background: url(@home-icon) no-repeat left 20px center !important;
  padding-left: 3.5rem !important;
  
  &:hover {
    background: url(@home-blue) no-repeat left 20px center !important;
    background-color: @white !important;
  }
}

.cases {
  background: url(@case-icon) no-repeat left 20px center !important;
  padding-left: 3.5rem !important;
  
  &:hover {
    background: url(@case-blue) no-repeat left 20px center !important;
    background-color: @white !important;
  }
}

.judges {
  background: url(@judge-icon) no-repeat left 20px center !important;
  padding-left: 3.5rem !important;
  
  &:hover {
    background: url(@judge-blue) no-repeat left 20px center !important;
    background-color: @white !important;
  }
}

.my-cases {
  background: url(@my-cases-icon) no-repeat left 20px center !important;
  padding-left: 3.5rem !important;
  
  &:hover {
    background: url(@my-cases-blue) no-repeat left 20px center !important;
    background-color: @white !important;
  }
}

.ant-menu-root.ant-menu-inline {
  background-color: #f4f6f7;
}

.ant-menu-item {
  display: flex;
  align-items: center;
  justify-content: left;
  color: @selected-color;
  
  &:hover {
    color: @selected-color;
    background-color: @white;
  }
}

.ant-menu-submenu-title {
  color: @selected-color;
  margin-right: 0;
  padding-left: 3.5rem !important;

  &:hover {
    color: @selected-color;
  }
  
  &:active {
    color: @light-blue;
    background-color: @selected-color;
  }
}

.ant-btn-primary {
  color: @selected-color;

  &:hover {
    color: @light-blue;
    background: none;
  }

  &:focus {
    background: none;
    color: @selected-color;
  }
}

li {
  padding-right: 0 !important;

  .ant-menu-inline-collapsed-noicon {
    display: none;
  }

  .ant-menu-inline-collapsed-selected {
    border: none;
  }
}

.ant-menu-item-selected {
  color: @white;
  background-color: @selected-color !important;
}

.ant-menu-submenu-selected {
  background-color: @selected-color !important;
}
.ant-menu-submenu-title-selected {
  color: @white !important;
}

.ant-menu-inline .ant-menu-item::after {
  border-right: none;
}

.ant-menu-vertical .ant-menu-item::after {
  border-right: none;
}

.ant-menu-submenu-arrow {
  color: @light-gray;

  &:active {
    color: @light-blue;
  }

  &:hover {
    color: @light-blue;
  }
}

.toggle-btn {
  margin-bottom: 1rem;
  background-color: #f4f6f7 !important;
  margin-left: 1rem;
  color: #2a5c8d !important;

  &:active {
    background-color: #f4f6f7;
  }
  
  &:hover {
    background-color: #f4f6f7;
  }
}

.sideDrawerMenu {
  display: flex;
  flex-direction: column;
}

button.collapseButton {
  position: absolute;
  bottom: 10rem;
  background-color:rgb(244, 246, 247);
  align-self: center;
  box-shadow: none;
  
  &:hover {
    background-color:@white;
  }

}
