.close {
  text-align: center;
  padding: 1%;
  margin: auto 2% auto auto;
  transform: scale(1.2);
}

.close:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.judgeTableLink {
  color: #3582cf;
}

.judgeTableCard {
  display: flex;
}

.judgeTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  min-height: 90vh;
  height: 100%;
  margin: 3rem 4rem 4rem 4rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  border: none !important;
}

.judgeTableGridContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 98%;
  margin-left: -4rem;
}

.judgeTableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80vw;
  margin-left: 12rem;
}

/* judgeTable drawer styles */

.judgeTableDrawer {
  width: 300;
  margin-top: 18%;
  margin-bottom: 15%;
  display: flex;
  flex-flow: column wrap;
}

.judgeTableDrawer p {
  margin-left: 5%;
  margin-top: 3%;
}

.judgeTableSearchInput {
  margin: 5% 10% 10% 5%;
}

.MuiDataGrid-row:nth-child(odd) {
  background-color: rgb(223, 223, 223);
}

.MuiTableCell-root {
  border-bottom: none !important;
}
