/* both judgePage and judgeTable styles */

.grid {
  margin-top: 15;
}

.cards {
  display: flex;
}

.close {
  text-align: center;
  padding: 1%;
  margin: auto 2% auto auto;
  transform: scale(1.2);
}

.close:hover {
  cursor: pointer;
  transform: scale(1.4);
}

/* judgeTable styles */

.judgeTableLink {
  color: #215589;
}

.judgeTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
  height: 100%;
  margin: 8rem 4rem 4rem 0;
}

.judgeTableGridContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;
}

/* judgeTable Toolbar styles */

.judgeTableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.judgeTableSearchInput {
  margin: 5% 10% 10% 5%;
}

.judgeTableDrawer {
  width: 300;
  margin-top: 5rem;
}

.judgeTableDrawer p {
  margin-left: 5%;
}

.judgeTableToolbarOptions {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 6px;
  padding: 0.5rem;
}

.judgeTableToolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 6px;
  width: 100%;
  padding: 1rem;
  overflow: hidden;
}

.judgeTableToolbar:hover {
  cursor: pointer;
}

.judgeTableBtn {
  background: #215589;
  color: #fff;
  text-transform: uppercase;
  border: none;
}

.judgeTableBtn:hover {
  background: #215589;
  color: #fff;
  text-transform: uppercase;
  border: none;
}

/* MUI fixes for color */

.table {
  height: 400;
  font-family: 'Open Sans', sans-serif;
}

span.MuiButton-label {
  color: #215589;
}

.MuiCheckbox-colorPrimary.Mui-checked {
    color: #215589 !important;
    }