/* judgeTable styles */

.close {
  text-align: center;
  padding: 1%;
  margin: auto 2% auto auto;
  transform: scale(1.2);
}

.close:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.judgeTableLink {
  color: #215589;
}

.jusgeTableCard {
  display: flex;
}

.judgeTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
  height: 100%;
  margin: 8rem 4rem 4rem 0;
}

.judgeTableGridContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;
}

.judgeTableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

/* judgeTable drawer styles */

.judgeTableDrawer {
  width: 300;
  margin-top: 18%;
  margin-bottom: 15%;
  display: flex;
  flex-flow: column wrap;
}

.judgeTableDrawer p {
  margin-left: 5%;
  margin-top: 3%;
}

.judgeTableSearchInput {
  margin: 5% 10% 10% 5%;
}


/* judgeTable Toolbar styles */

.menuContainer {
  color: #215589;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
  width: 50%;
  margin-right: 2%;

}

.buttonContainer:hover {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
  width: 50%;
}




/* ant design fixes */

h2.ant-typography {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 50%;
  padding-left: 2%;
  padding-bottom: 0;
}

button.ant-btn {
  color: #215589;
  font-size: 1rem;
  border: none;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  box-shadow: none;

}

button.ant-btn:hover {
  color: #215589;
  font-size: 1rem;
  border: none;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  box-shadow: none;
}

.ant-btn > span {
  font-size: 0.8rem;
}

.anticon svg {
  font-size: 1rem;
}

/* MUI fixes for color */

.table {
  height: 400;
  font-family: 'Open Sans', sans-serif;
}

span.MuiButton-label {
  color: #215589;
}

.MuiCheckbox-colorPrimary.Mui-checked {
    color: #215589 !important;
}